# photographi Configuration Example
# Rename this file to .env and adjust your paths

# Path to the YOLO model (autodownloads if empty)
YOLO_MODEL_PATH=yolo12x.pt

# [Optional] Default external drive path
EXTERNAL_DRIVE_PATH=/Volumes/YourDrive/Photos
